body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color:#fff; /* Set the background color to #37404a */
}


.container {
    max-width: 1000px;
    width: 85%;
    background-color: #37404a;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    /* Add some margin at the bottom for spacing */
}

.logo-container img {
    height: 80px;
    margin-top: 50px; /* Adjust the top margin of the image */
}

.container .title {
    font-size: 20px;
    font-weight: 500;
    position: relative;
    text-align: center;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
}

.content form .mb-3 {
    margin-bottom: 15px;
}

.form-label {
    font-weight: 500;
    margin-bottom: 5px;
    color: white; /* Set the text color to white */
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
    background: #ce8e17;
    border: none;
    transition: all 0.3s ease;
    text-align: center;
}

.button-container {
    text-align: center;
}

.btn-primary:hover {
    background: #212A37;
}

.alert {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}